<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>Welcome!</title>
</head>
<body onload="checkAndDisplayError()">
<script>
    function newStatement() {
        var form = document.forms[0];
        form.action = "/new";
        form.submit();
    }

    function checkAndDisplayError() {
        if (document.getElementById("errorText").textContent) {
            document.getElementById("alertDiv").hidden = false;
        }
    }
</script>
<div class="container-fluid">
<div id="alertDiv" class="alert alert-danger" hidden="true"><span id="errorText" th:text="${error}" /></div>
<form action="#" method="post">
    <h5>What would you like to do?</h5>
    <input type="button" id="newButton" class="btn btn-primary" value="Submit Statement" th:attr="onclick=|newStatement()|">
    <input type="button" id="viewButton" class="btn btn-primary" value="View Past Statement" th:attr="onclick=|location.href = '/statement?id=1'|">
</form>
</div>
</body>
</html>