<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>Welcome!</title>
</head>
<body onload="checkAndDisplayError()">
<script>
    function save() {
        var form = document.forms[0];
        form.action = "/save";
        form.submit();
    }

    function addMoreRows() {
        document.getElementById("add").value = "true";
        var form = document.forms[0];
        form.action = "/new";
        form.submit();
    }

    function checkAndDisplayError() {
        if (document.getElementById("errorText").textContent) {
            document.getElementById("alertDiv").hidden = false;
        }
    }
</script>
<div class="container-fluid">
<div id="alertDiv" class="alert alert-danger" hidden="true"><span id="errorText" th:text="${error}" /></div>
<form id="statementForm" action="#" th:object="${form}" method="post">
    <h5>Enter your income and expense items.</h5>
    <p>Click "Save" when you're done, or "Add More Rows" if you need more space.</p>
    <fieldset>
        <input type="button" class="btn btn-secondary" id="moreButton" value="Add More Rows" th:attr="onclick=|addMoreRows()|" />

        <table class="table table-bordered col-sm-4">
            <thead class="thead-dark">
            <tr>
                <th>Income</th>
                <th>Amount</th>
                <th>Expenditure</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${statement.empty}">
                <td colspan="4"> No Statement Available</td>
            </tr>
            <tr th:each="row, itemStat : ${statement.rows}">
                <td class="table-primary">
                    <input th:name="|rows[${itemStat.index}].incomeCategory|" th:value="${row.incomeCategory}"/>
                </td>
                <td class="table-primary">
                    <input th:name="|rows[${itemStat.index}].incomeAmount|" th:value="${row.incomeAmount}"/>
                </td>
                <td class="table-danger">
                    <input th:name="|rows[${itemStat.index}].expenditureCategory|" th:value="${row.expenditureCategory}"/>
                </td>
                <td class="table-danger">
                    <input th:name="|rows[${itemStat.index}].expenditureAmount|" th:value="${row.expenditureAmount}"/>
                </td>
            </tr>
            </tbody>
        </table>

        <input type="hidden" id="add" name="add" value="false" />
        <input type="button" class="btn btn-primary" id="submitButton" value="Save" th:attr="onclick=|save()|">
        <input type="button" id="homeButton" class="btn btn-secondary" value="Home" th:attr="onclick=|location.href = '/'|">
    </fieldset>
</form>
</div>
</body>
</html>