<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>Welcome!</title>
</head>
<body>
<div class="container-fluid">
    <h5>Statement #<span th:text="${statement.id}" /></h5>
    <h5>Reported on <span th:text="${statement.reportDate}" /></h5>
    <table class="table table-bordered col-sm-4">
        <thead class="thead-dark">
        <tr>
            <th>Income</th>
            <th>Amount</th>
            <th>Expenditure</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${statement.empty}">
            <td colspan="4"> No income or expenditure for this statement </td>
        </tr>
        <tr th:each="row : ${statement.rows}">
            <td class="table-primary"><span th:text="${row.incomeCategory}"></span></td>
            <td class="table-primary"><span th:text="${row.incomeAmount}"></span></td>
            <td class="table-danger"><span th:text="${row.expenditureCategory}"></span></td>
            <td class="table-danger"><span th:text="${row.expenditureAmount}"></span></td>
        </tr>
        </tbody>
    </table>
    <div>Your disposable income for this statement period is <span th:text="${disposableIncome}"></span></div>
    <div>Your I&amp;E rating is <span th:text="${rating}"></span></div>
    <br>
    <input type="button" id="homeButton" class="btn btn-primary" value="Home" th:attr="onclick=|location.href = '/'|">
</div>
</body>
</html>